<app-search-bar (submit)=" increaseCount()" [search]="search" (searchChange)="search=$event" [(search)]="search1" />
Search: {{search}} <br />
Click count:{{count}}
<br><br><br>





<div id="card-list">
    <app-playing-card  *ngFor="let i of filteredMonsters()" [monster]="i"/>
</div>
@if (filteredMonsters().length == 0) {
    <div class="centered">No monsters found !</div>
} @else {
    <div class="centered">Found {{filteredMonsters().length}} monsters</div>
}
<div class="centered"><button (click)="addMonster()">Add Monster</button>/button></div> <br/><br/>