h1 {
    background-color:black ;
    color: white;
}
#card-list {
    display: flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
    align-items:center;
}
.centered {
    margin-top:40px;
    text-align: center;
}